/* STYLE GUIDE */

/* Featured Inputs Extra */

#responseInput button::after {
  content: 'Submit';
}
#playerInput button::after {
  content: 'Add';
}

/* Footer Extra */
/*Keep at bottom*/

body {
  display: flex;
  flex-direction: column;
}
footer {
  margin-top: auto;
}

/* STYLES */

/* playerOperator */

#playerOperator {
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

/* Main */

main {
  margin: auto;
  padding: 1rem;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  max-width: 75ch;
  box-sizing: border-box;
}
#responses,
#players {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}
h3,
h4 {
  margin: 0;
}

/* Displays */

#responseDisplay,
#playerDisplay {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}
#responseDisplay {
  flex-direction: column;
}
#playerDisplay {
  flex-wrap: wrap;
}

/* Responses and players */

.response {
  background-color: var(--dark1);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
}
.player {
  flex: 1;
  background-color: var(--dark1);
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}
.response:hover,
.response:focus-visible,
.player:hover,
.player:focus-visible {
  background-color: var(--dark2);
}
p {
  margin: 0;
  overflow-wrap: break-word;
}
.player div {
  display: flex;
  gap: 0.25rem;
}
.restrictOptions .player div {
  display: none;
}
.player button {
  padding: 0.2rem 0.5rem 0.15rem 0.5rem;
  background-color: var(--dark2);
}
.player:has(button:hover),
.player:has(button:focus-visible) {
  background-color: var(--dark1);
}
.player:hover button,
.player:focus-visible button,
.player button:hover,
.player button:focus-visible {
  background-color: var(--dark3);
}
.player:has(button:hover) button:not(:hover),
.player:has(button:focus-visible) button:not(:focus-visible) {
  background-color: var(--dark2);
}

/* Inputs */

form,
.options {
  margin: 0;
  width: 100%;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  flex-wrap: wrap;
}
.restrictOptions .options {
  display: none;
}
form input[type='text'] {
  flex: 1;
}
.response.clicked,
.player.clicked {
  opacity: 0.25;
}
.restrictOptions #playerInput {
  display: none;
}
